.blogs {
	padding: 4rem 0;
}

.blogs__flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.blogs__infoTitle {
	text-align: center;
	font-size: 3rem;
	margin: 2rem 0;
}

.blogs__grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

@media (min-width: 50em) {
	.blogs__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 80em) {
	.blogs__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
