.faq {
	padding: 4rem 0;
	text-align: center;
	background: var(--clr-svetro-light);
	position: relative;
}

.faq::after {
	content: '';
	position: absolute;
	background: url(../../assets/circle.svg) no-repeat;
	width: 240px;
	height: 193px;
	right: 0%;
	top: -118px;
}

.faq__flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faq__title {
	margin: 1rem 0 3rem;
}

@media (min-width: 80em) {
	.faq::after {
		width: 263px;
		height: 317px;
		top: -48px;
	}
}
