.faq {
	padding: 4rem 0;
	text-align: center;
	background: var(--clr-svetro-light);
	/* margin-bottom: 0.1rem; */
}

.faq__flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faq__title {
	margin: 1rem 0 3rem;
}
