.flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.partnersHeading {
  text-align: center;
  margin: 3rem 0;
}

.imgContainer {
  width: 150px;
}

.imgContainer img {
  filter: grayscale(100%);
}
