.card {
	display: grid;
	gap: 1rem;
	/* border: 1px solid gray; */
	padding: 1rem;
	border-radius: 10px;
	color: var(--clr-dark);
	background: var(--clr-white);
	max-width: 343px;
	min-height: 277px;
	transition: all 300ms ease-in;
	box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .icon,
.card:hover span {
	text-decoration: underline;
	color: var(--clr-svetro-green);
}

.card span {
	font-weight: 700;
	color: var(--clr-primary);
}

.card:hover {
	transform: scale(1.05);
}

.card__title {
	font-size: 1rem;
}

.card__subtitle {
	font-size: 0.875rem;
	line-height: 1.1;
}

.card__linkFlex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}

.icon {
	width: 50px;
	height: 50px;
	display: grid;
	place-items: center;
}

.icon:nth-child(2) {
	border: 1px solid var(--clr-svetro-green);
	border-radius: 100vh;
}
