.buttons {
	position: fixed;
	top: 80%;
	right: 2%;
	box-shadow: 0 8px 34px 0 #333, 0 4px 6px 0;
	border-radius: 50%;
	background-color: transparent;
	height: 60px;
}

.buttons:hover::before {
	content: 'Chat With Us';
	position: absolute;
	width: 170px;
	height: 35px;
	bottom: 15%;
	right: 107%;
	padding: 1rem;
	font-size: 1.2rem;
	color: var(--clr-white);
	background: var(--clr-light-blue);
	border-radius: 20px;
	z-index: 1;

}
.content {
	Texe-align; centre;
}

.icon {
	font-size: 4rem;
	cursor: pointer;
	transition: all 300ms ease-in;
	background: #25d366;
	border-radius: 100%;
	padding: 0.5rem;
}

.buttons:hover .icon {
	transform: scale(1.1);
}
