.serviceSection {
	padding: 4rem 0;
	position: relative;
}

.serviceSection::before {
	content: '';
	position: absolute;
	background: url(../../assets/dots.svg) no-repeat;
	width: 170px;
	height: 80px;
	bottom: -40px;
}

.serviceSection__flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

.serviceSection__info {
	text-align: center;
}

.serviceSection__title {
	font-size: 1.5rem;
	margin-bottom: 1.938rem;
}

.serviceSection__subtitle {
	max-width: 55ch;
	margin-inline: auto;
}

.serviceSection__cards {
	display: grid;
	gap: 1.5rem;
}

@media (min-width: 50em) {
	.serviceSection__title {
		font-size: 2.25rem;
		margin-bottom: 1.938rem;
	}

	.serviceSection__cards {
		grid-template-columns: 1fr 1fr;
	}

	.serviceSection::before {
		bottom: -26px;
	}
}

@media (min-width: 80em) {
	.serviceSection__cards {
		grid-template-columns: repeat(4, 1fr);
	}
	.serviceSection::before {
		bottom: -46px;
	}
}
