.serviceSection {
	padding: 2rem 0 4rem;
	border: 1px solid red;
}

.serviceSection__info {
	text-align: center;
}

.serviceSection__title {
	font-size: 1.5rem;
	margin-bottom: 1.938rem;
}

.serviceSection__subtitle {
	max-width: 55ch;
	margin-inline: auto;
}

@media (min-width: 50em) {
	.serviceSection__title {
		font-size: 2.25rem;
		margin-bottom: 1.938rem;
	}
}
