.navbar {
	padding: 0.5rem 0;
}

.navbar__flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo__container {
	width: 60px;
}

.navbar__menu {
	display: flex;
	gap: 1rem;
}

.menu__link {
	color: var(--clr-primary);
	display: inline-block;
	padding: 2.5rem 0.5rem;
	position: relative;
}

.menu__link:hover::before,
.menu__active::before {
	position: absolute;
	content: '';
	background: var(--clr-svetro-green);
	border-radius: 100vh;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
}

.contact__flex {
	display: none;
}

/* only mobile screens */
@media (max-width: 50em) {
	.navbar__menu {
		background: var(--clr-white);
		flex-direction: column;
		align-items: flex-start;
		gap: 2.5rem;
		position: fixed;
		top: 110px;
		right: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);
		transition: all 300ms ease-in;
		height: 100vh;
		z-index: 2;
	}

	.menu__link {
		padding: 0;
		margin-left: 1.6rem;
	}

	.menu__active {
		transform: translateX(0);
	}

	.mobile__menu {
		display: block;
		z-index: 3;
		cursor: pointer;
	}
}

@media (min-width: 50em) {
	.mobile_menu {
		display: none;
	}
}

@media (min-width: 80em) {
	.contact__flex {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}
