.footer {
	color: var(--clr-dark);
	background: var(--clr-white);
	padding: 7rem 0 2rem;
}

.footer a {
	color: var(--clr-dark);
}

.footer__grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

.footer__iconContainer {
	background: var(--clr-primary);
	border-radius: 100vh;
	height: 41.89px;
	width: 41.89px;
	display: grid;
	place-items: center;
	transition: all 0.3s ease-in;
}

.footer__iconContainer:hover {
	transform: scale(1.4);
}

.iconFlex {
	margin-top: 1rem;
	display: flex;
	gap: 0.5rem;
}

.flex {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.address {
	max-width: 25ch;
}

.footer__text {
	margin-top: 2rem;
	text-align: center;
}

.line {
	margin-top: 3rem;
	border: 1px solid var(--clr-primary);
	background: var(--clr-primary);
}

/* @media (min-width: 50em) {
} */

@media (min-width: 80em) {
	.footer__grid {
		grid-template-columns: repeat(4, 1fr);
	}
}
