.form {
	padding-block: 3.75rem;
	background: var(--clr-svetro-light);
	color: var(--clr-primary);
}

.form__flex {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

.form__title {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.form__subtitle {
	margin-bottom: 2.688rem;
}

.form__info {
	text-align: center;
}

.info__title {
	font-size: 3rem;
}

.info__subtitle {
	max-width: 50ch;
}

.footer__iconContainer {
	background: var(--clr-primary);
	border-radius: 100vh;
	height: 41.89px;
	width: 41.89px;
	display: grid;
	place-items: center;
	transition: all 0.3s ease-in;
}

.footer__iconContainer:hover {
	transform: scale(1.4);
}

.address {
	max-width: 25ch;
}

.flex {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.iconFlex {
	margin-top: 1rem;
	display: flex;
	gap: 0.5rem;
}

.inputForm {
	width: 90%;
	max-width: 600px;
}

label {
	font-size: 1.2rem;
}

.inputForm input,
.inputForm textarea {
	padding: 1rem;
	display: block;
	width: 100%;
	margin-top: 0.3rem;
	margin-bottom: 1.5rem;
	border: 0;
	border-radius: 5px;
}

.inputForm button {
	font-size: 1.3rem;
	color: var(--clr-white);
	background: var(--clr-primary);
	padding: 1rem;
	width: 100%;
	border: 1px solid var(--clr-primary);
	cursor: pointer;
	border-radius: 5px;
	transition: all 300ms ease-in;
}

.inputForm button:hover {
	color: var(--clr-primary);
	background: transparent;
	transform: scale(1.1);
}

@media (min-width: 50em) {
	.form__title {
		font-size: 4rem;
	}
}

@media (min-width: 80em) {
	.form__flex {
		flex-direction: row;
	}

	.inputForm {
		width: 50%;
		max-width: 600px;
	}

	.flex__info {
		width: 50%;
	}
}
