:root {
	--clr-primary: #1e42a1;
	--clr-white: #fff;
	--clr-dark: #000;
	--clr-svetro-light: rgb(244, 244, 244);
	--clr-svetro-red: #ff725e;
	--clr-light-blue: #7879f1;
	--clr-light-gray: #eaeaea;
	--clr-dark-gray: #333;
}
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	line-height: 1.5;
	font-family: 'Inter', sans-serif;
}
img {
	display: block;
	max-width: 100%;
	box-sizing: content-box;
}
h1,
h2,
h3 {
	margin: 0;
	line-height: 1.1;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

input,
textarea,
button {
	font-family: inherit;
}

.container {
	width: 90%;
	margin-inline: auto;
}

/* button styles */
.btn {
	font-size: 0.875rem;
	background: 0;
	border: 1px solid;
	padding: 0.938rem 1.875rem;
	cursor: pointer;
	transition: all 300ms ease-in;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
	transform: scale(1.2);
}

.btn__primary,
.btn__primaryOutline,
.btn__white {
	border-radius: 20px;
}

.btn__primary {
	border-color: var(--clr-primary);
	color: var(--clr-white);
	background: var(--clr-primary);
}

.btn__primaryOutline {
	border-color: var(--clr-white);
	color: var(--clr-white);
	background: transparent;
}

.btn__secondary,
.btn__secondaryOutline {
	border-radius: 5px;
}

.btn__secondary {
	color: var(--clr-white);
	background: var(--clr-primary);
	border-color: var(--clr-primary);
}

.btn__white {
	color: var(--clr-primary);
	background: var(--clr-white);
}

.btn__secondaryOutline {
	color: var(--clr-primary);
	background: transparent;
}

/* slider */
.slider {
	overflow: hidden;
	position: relative;
}

.innerSlider {
	display: flex;
	gap: 1rem;
	/* animation: slider 10s linear infinite; */
}
