:root {
	--clr-primary: #1e42a1;
	--clr-white: #fff;
	--clr-dark: #000;
	--clr-svetro-light: #f4f4f4;
	--clr-svetro-green: #72b39c;
	--clr-svetro-red: #ff725e;
	--clr-light-blue: #7879f1;
	--clr-light-gray: #eaeaea;
	--clr-dark-gray: #333;
}
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	line-height: 1.5;
	font-family: 'Inter', sans-serif;
}
img {
	display: block;
	max-width: 100%;
	box-sizing: content-box;
}
h1,
h2,
h3 {
	margin: 0;
	line-height: 1.1;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

input,
textarea,
button {
	font-family: inherit;
}

.container {
	width: 90%;
	margin-inline: auto;
}

/* slider */
.slider {
	overflow: hidden;
	position: relative;
}

.innerSlider {
	display: flex;
	gap: 1rem;
	/* animation: slider 10s linear infinite; */
}
